{% extends "az_challenges/base.html" %}

{% block header %}
  <h2>{{ challenge }}</h2>
{% endblock header %}

{% block content %}
    <div class="list-group">
      {% for member in members %}
        <a href="{% url 'az_challenges:edit_member' member.id %}" class="list-group-item">{{ member }}</a>
      {% empty %}
        <p>There are no challenge members yet.</p>
      {% endfor %}
    </div>

  <p>
      <a href="{% url 'az_challenges:new_member' challenge.id %}">Add New Member</a>
  </p>

{% endblock content %} 



