{% extends "az_challenges/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Edit person on <a href="{% url 'az_challenges:challenge' challenge.id %}">{{ challenge }}</a>.</h2>

{% endblock header %}


{% block content %}

  <form method="post" action="{% url 'az_challenges:edit_member' member.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    {% buttons %}
      <button name="submit" class="btn btn-primary">Save Changes</button>
    {% endbuttons %}
  </form>

{% endblock content %} 

